<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"> 
        <link type="text/css" rel="stylesheet" href="../static/css/style.css" media="all" />
    </head>
    <body>
        <div class="gradient-background">
            <div class="d-flex flex-column justify-content-center w-100 h-100">
               <div class="d-flex flex-column justify-content-center align-items-center">
                 <div class="btn-group my-5">
                    <h1 style="top: 350px; left: 75px;;">Сети Петри</h1>
                    <h1 style="top: 0%; left: 50%;;">Карл Адам Петри</h1>
                    <img src="../static/img/carl_adam_petri.jpg" style="position: absolute; left: 30%; top: 15%;">



                    <nav role="navigation">
                        <div id="menuToggle">
                          
                          <input type="checkbox" />
                          <span></span>
                          <span></span>
                          <span></span>
                          
                          <ul id="menu">
                            <a href="{{url_for('index')}}"><li>Главная</li></a>
                            <a href="{{url_for('simulator')}}"><li>Симулятор</li></a>
                            <a href="{{url_for('instruction')}}"><li>Инструкция к симулятору</li></a>
                            <a href="{{url_for('theory')}}"><li>Теория</li></a>
                            <a href="{{url_for('tasks', task_num = 0)}}"><li>Задания</li></a>
                            <a href="{{url_for('results')}}"><li>Результаты</li></a>
                          </ul>
                        </div>
                      </nav>



                 </div>
               </div>
             </div>
           </div>
    </body>
</html>