<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"> 
        <link type="text/css" rel="stylesheet" href="../static/css/style.css" media="all" />
    </head>
    <body>
        <div class="gradient-background">
            <div class="d-flex flex-column justify-content-center w-100 h-100">
               <div class="d-flex flex-column justify-content-center align-items-center">
                 <div class="btn-group my-5">
                  <h1 style="top: -10px; left: 400px;;">Инструкция к симулятору</h1>
                  <p style="top: 140px; left: 350px;;">1. Выбрать объект для создания и нажать на <span class="instruction" data-tooltip="позиция, переход, дуга, фишка">соответствующую кнопку</span>.</p>
                  <p style="top: 180px; left: 350px;;">Для смены выбора нажмите на другую кнопку.</p>

                  <p style="top: 250px; left: 350px;;">2. Нажмите на область, в которую хотите поместить объект.</p>
                  <p style="top: 290px; left: 350px;;">Для расположения дуги необходимо нажать дважды: в начало и конец</p>
                  <p style="top: 330px; left: 350px;;">дуги. Границы дуг должны находиться внутри какого-либо объекта.</p>

                  <p style="top: 400px; left: 350px;;">3. Для запуска сети нажмите стрелку вправо (→). Это запустит</p>
                  <p style="top: 440px; left: 350px;;">первую итерацию. Для следущей итерации нажмите стрелку еще раз.</p>
                  <p style="top: 480px; left: 350px;;">Количество возможных итераций равно количеству переходов.</p>
                  <p style="top: 520px; left: 350px;;">Когда итерации закончатся, экран очистится, и вы сможете создать</p>
                  <p style="top: 560px; left: 350px;;">ещё одну сеть Петри.</p>

                  <p style="top: 630px; left: 350px;;">Для очистки экрана нажмите клавишу "R" на клавиатуре.</p>

                    <nav role="navigation">
                        <div id="menuToggle">
                          
                          <input type="checkbox" />
                          <span></span>
                          <span></span>
                          <span></span>
                          
                          <ul id="menu">
                            <a href="{{url_for('index')}}"><li>Главная</li></a>
                            <a href="{{url_for('simulator')}}"><li>Симулятор</li></a>
                            <a href="{{url_for('instruction')}}"><li>Инструкция к симулятору</li></a>
                            <a href="{{url_for('theory')}}"><li>Теория</li></a>
                            <a href="{{url_for('tasks', task_num = 0)}}"><li>Задания</li></a>
                            <a href="{{url_for('results')}}"><li>Результаты</li></a>
                          </ul>
                        </div>
                      </nav>
                      
                      

                 </div>
               </div>
             </div>
           </div>
    </body>
</html>