<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"> 
        <link type="text/css" rel="stylesheet" href="../static/css/style.css" media="all" />
    </head>
    <body>
        <div class="gradient-background">
            <div class="d-flex flex-column justify-content-center w-100 h-100">
               <div class="d-flex flex-column justify-content-center align-items-center">
                 <div class="btn-group my-5">
                  <h1 style="top: -3%; left: 400px;;">Симулятор Сетей Петри</h1>
                    <nav role="navigation">
                        <div id="menuToggle">
                          
                          <input type="checkbox" />
                          <span></span>
                          <span></span>
                          <span></span>
                          
                          <ul id="menu">
                            <a href="{{url_for('index')}}"><li>Главная</li></a>
                            <a href="{{url_for('simulator')}}"><li>Симулятор</li></a>
                            <a href="{{url_for('instruction')}}"><li>Инструкция к симулятору</li></a>
                            <a href="{{url_for('theory')}}"><li>Теория</li></a>
                            <a href="{{url_for('tasks', task_num = 0)}}"><li>Задания</li></a>
                          </ul>
                        </div>
                      </nav>
                      
                      <div style="left: 300px; top: 12%; position: absolute;">
                        <iframe src="http://localhost:8000/" style="width: 950px;;height:712.5px;"></iframe>
                      </div>

                 </div>
               </div>
             </div>
           </div>
    </body>
</html>